    <h2>Lista de Productos</h1>
                
        <div class="row" style="background-color:grey">
            <div class="col " style="color:white">Title </div>
            <div class="col " style="color:white">Price</div>
            <div class="col " style="color:white">Thumbnail</div>
            <div class="col " style="color:white"></div>
        </div>
    <div id="productos"></div>