<div>
    <h2>Centro de Mensajes</h2>
</div>
<form onsubmit="return setMensaje(this)" >
    <div>
        <input type="text" id="email" class="" placeholder="Ingresá tu e-mail" required>
    </div>    
    <div>
        <input type="text" id="mensaje" class="mt-3" placeholder="Ingresa tu mensaje" required>
        <input type="submit" class="btn btn-outline-secondary " value="Enviar">
    </div>
    <div id="mensajes"></div>
    <div>
        
    </div>
</form>
</div>